body {
    animation: bgcolor 8s infinite, rotation 8s infinite linear;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function:linear;
}

@keyframes bgcolor {
    0% {
        background-color: #86b6d8;
    }

    30% {
        background-color: #7cac64;
    }

    60% {
        background-color: #e39763;
    }

    90% {
        background-color: rgb(189, 105, 119);
    }

    100% {
        background-color: #8768a6;
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}