body {
    animation: bgcolor 6s infinite;
}

tr{
    border: 1px solid black;
    border-radius: 10px;
}

.Image-Rotation{
    width:10%;
    height:auto;
    margin: 4% auto auto 4%;
    transition: 0.3s ease;
    border-radius: 50%;
}

.TopHeader{
    height:10%; 
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: top center;
    justify-items: center;
}

.ContactInfo{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content:space-around;
    justify-items: center;

}

.TopHeader h1{
    font-size: 50px;
}

.TopHeader p{
    font-size: 120%;
}

.ContactInfo p{
    font-size: 120%
}

.Education{
    border: 1px solid black;
    border-radius: 10px;
    width: 100%;
}

.EducationTitle h2{
    margin:0% auto;
    border: 1px solid black;
    border-radius: 10px;
    text-align:center;
}

img:hover{
    /* animation: rotate 1s linear; */
    transform: rotate(359deg) scale(4);
}

@keyframes bgcolor {
    0% {
        background-color: #86b6d8;
    }

    30% {
        background-color: #7cac64;
    }

    60% {
        background-color: #e39763;
    }

    90% {
        background-color: rgb(189, 105, 119);
    }

    100% {
        background-color: #8768a6;
    }
}

/* @keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
} */