body {
    animation: bgcolor 6s infinite;
}

.Image-Rotation{
    width:10%;
    height:auto;
    margin: 2% auto auto 2%;
    transition: 0.3s ease;
    border-radius: 50%;;
}

img:hover{
    /* animation: rotate 1s linear; */
    transform: rotate(359deg) scale(2);
}

@keyframes bgcolor {
    0% {
        background-color: #86b6d8;
    }

    30% {
        background-color: #7cac64;
    }

    60% {
        background-color: #e39763;
    }

    90% {
        background-color: rgb(189, 105, 119);
    }

    100% {
        background-color: #8768a6;
    }
}

/* @keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
} */